@font-face {
  font-family: 'Vintaface-Regular';
  src: url('/fonts/Vintaface-RegularRegular.woff2') format('woff2'),
       url('/fonts/Vintaface-RegularRegular.woff') format('woff'),
       url('/fonts/Vintaface-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
